footer {
    background: #202020;
    width: 80vw;
    min-height: 100vh;
    height: inherit;
    margin: 0 auto;
    border: 2px solid gray;
    border-width: 2px 0 0
}

footer a {
    text-decoration: none;
}

h2.x {
    padding: 2vh;
}

.pjtitle {
    width: max-content;
    margin: 6rem auto;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem;
    word-break: keep-all;

    font-weight: bold;
    background: linear-gradient(to right top, #9ebd13 0%, #00d080 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.project {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
    padding: 1rem;
}

.pj {
    background-color: #303030;
    border: 2px #404040 solid;
    border-radius: 16px;
    cursor: pointer;
    overflow: hidden;
    transition: border 200ms;
}

.pj:hover {
    border-color: #2080ff;
}

.pj img {
    width: 12rem;
    height: 12rem;
    background: black;
    border: solid white;
    border-width: 0 0 1px
}

.pj p {
    height: 21px;
    margin: 0;
    padding: 2px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    text-align: center;
}



.music {
    margin: 0 auto;
    padding: 0;
    width: 64vw;
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translate(-50%, 0%);
}

.music iframe {
    border: 1px solid gray;
}