footer {
    background: #202020;
    width: 80vw;
    min-height: 100vh;
    height: inherit;
    margin: 0 auto;
    border: 2px solid gray;
    border-width: 2px 0 0
}

h2.x {
    padding: 2vh;
}

.project {
    margin: 8rem 3%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

.pj {
    width: 160px;
    height: 196px;
    background-color: #303030;
    box-shadow: 0 0 8px black;
    margin: 2vh 1rem;
    /* border: 1px solid white; */
    border-radius: 16px;
    cursor: pointer;
    overflow: hidden;
}

.pj p {
    padding: 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}

.pj:hover {
    box-shadow: 0 8px 16px black;
    transition: box-shadow 200ms;
}

.pj img {
    width: 10rem;
    height: 10rem;
    border: solid white;
    border-width: 0 0 1px
}

.pj p {
    margin-top: 0;
    text-align: center;
}






.music {
    margin: 0 auto;
    padding: 0;
    width: 64vw;
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translate(-50%, 0%);
}

.music iframe {
    border: 1px solid gray;
}