footer {
    background: #202020;
    width: 80vw;
    min-height: 100vh;
    height: inherit;
    margin: 0 auto;
    border: 2px solid gray;
    border-width: 2px 0 0;
    background: url(https://whale-store.pstatic.net/20220527_223/1653631793973hlE11_JPEG/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pjtitle {
    width: max-content;
    margin: 4rem auto 1rem;
    text-align: center;
    font-size: 1.75rem;
    word-break: keep-all;
    font-weight: bold;

    padding: 8px;
    border-radius: 1rem;
}

.pjtitle span, .pjtitle span p {
    background: linear-gradient(to right top, #9ebd13 0%, #00d080 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.project {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
    padding: 1rem;
}

.pj {
    background-color: #303030;
    border: 2px #505050 solid;
    border-radius: 16px;
    cursor: pointer;
    overflow: hidden;
    transition: border 200ms;
    text-decoration: none;

    border-color: hsla(0, 0%, 50%, .5);
}

.pj:hover {
    border-color: #0071e3;
}

.pj img {
    width: 12rem;
    height: 12rem;
    background: black;
}

.pj p {
    height: 21px;
    margin: 0;
    padding: 2px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    text-align: center;
}

footer a:link,
footer a:visited,
a:hover,
a:active {
    color: white;
}

.music {
    margin: 2rem auto 0;
    padding: 0;
    width: 64vw;
}

.music iframe {
    border: 1px solid gray;
    border-radius: 12px;
}