.main {
    width: 100%;
}

.main .title {
    height: calc(100vh - var(--header-height));
    width: 100%;
    padding-left: 5vw;
    background-image: url(../img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.main .title::after{
    content: "";
    opacity: .25;
    position: absolute;
    inset: 0;
    background-color: #000;
}

.main .title *, .main .slides .slide * { z-index: 1; }

.main .title h1 {
    font-size: 64px;
    text-shadow: -3px -1px 1px #000;
    width: fit-content;
}

.main .title p {
    width: min(40%, 512px);
    line-height: 175%;
}

.main .info {
    height: 100vh;
    background-image: linear-gradient(45deg, #ff0080 0%, #000080 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.main .info h1 {
    font-size: 48px;
    margin: 48px 0;
    font-weight: 800;
}

.main .info>div {
    display: flex;
    align-items: center;
    width: min(80%, 768px);
    height: min(60%, 432px);
    justify-content: space-evenly;
    border: solid 4px #ffffff80;
    border-radius: 24px;
    background-color: #00000040;
}

.main .info .d {
    padding: 32px 0;
}

.main .info img.pp {
    border-radius: 50%;
    border: solid 4px #ffffff80;
}

.main .info h2 {
    margin: 0;
}

.main .info p {
    margin: 0;
    width: 100%;
    font-size: larger;
    font-weight: 300;
}

.main .sites {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;

    background-image: linear-gradient(135deg, #ff0080 0%, #000080 100%);
}

.main .sites div.slides {
    margin-top: 32px;
    width: 90%;
    height: 60%;
    background-color: #ffffff80;
    border-radius: 24px;
    overflow: scroll;
    display: flex;
    align-items: center;
    gap: 12px;
    overflow-x: scroll;
    border: solid 12px transparent;
    position: relative;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth
}

.main .sites div.slides::-webkit-scrollbar {
    display: none;
}

.main .sites a.slide {
    height: 100%;
    background-color: #000000c0;
    border-radius: 12px;
    flex: 0 0 min(380px, 100%);
    text-align: center;
    overflow: hidden;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

a.slide::before {
    box-sizing: border-box;
    content: "이미지 없음";
    color: #000;
    padding-top: 32px;
    font-size: 32px;
    position: absolute;
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    top: 0;
    left: 0;
    background-image: url(../img/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
}

a.slide img {
    height: 100%;
    /* width: 100%; */
    object-fit: cover;
    /* aspect-ratio: 1; */
    transition: transform .1s;

    clip: rect(100%, 100%, 100%, 100%);
}

a.slide:hover img {
    transform: scale(1.1);
}

a.slide div {
    position: absolute;
    bottom: 0;
    /* background-color: #000000c0; */
    background-image: linear-gradient(180deg, transparent 0%, #000000c0 20px);
    width: 100%;
    padding: 16px 0 12px;
    text-align: start;

    transition: bottom .1s;
    bottom: var(--element-height);
}

a.slide:hover div {
    bottom: 0;
}

a.slide h3 {
    margin: 0;
    width: 100%;
    padding: 8px 16px;
    font-size: 24px;
}

a.slide p {
    margin: 0;
    word-break: keep-all;
    width: 100%;
    padding: 0 16px;
}

.main .sites .buttons {
    background-color: #ffffff80;
    border: solid 8px transparent;
    border-width: 0 8px 8px;
    border-radius: 0 0 16px 16px;
}

.main .sites .buttons button {
    border: none;
    color: white;
    font-weight: 700;
    background-color: #00000040;
    margin: 0 2px;
    border-radius: 100%;
    aspect-ratio: 1;
    cursor: pointer;
    min-width: 14px;
}

.main .sites .buttons button:last-child {
    border-right: none;
}

.slides>div {
    width: 32px;
    height: 32px;
    background-color: #ffffff60;
    position: sticky;
    z-index: 2;
    display: flex;
    border-radius: 50%;
    cursor: pointer;

    transition: background-color .15s linear;
}

.slides>div:hover {
    background-color: #ffffffc0;
}

.slides>div.ward {
    left: 8px;
    margin-right: -44px;
}

.slides>div.backward {
    right: 8px;
    margin-left: -44px;
}

@media screen and ((max-height: 500px) or (max-width: 650px)) {

    .main .title h1 {
        font-size: 40px;
    }

    .main .title p {
        width: 80%;
    }
}

@media (orientation: portrait) {
    .main .info div {
        flex-direction: column;
    }

    .main .info img.pp {
        width: min(50%, 256px);
    }
}

@media (orientation: landscape) {
    .main .info img.pp {
        height: min(50%, 256px);
    }
}