main {
    background-color: #202020;
    background-image: url(https://whale-store.pstatic.net/20220527_96/16536317955526CVDl_JPEG/1.jpg);
    background-size: cover;
    background-position: center;
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    color: black;
}

.title {
    background-color: #101010;
    padding: .5rem;
    
    background-color: hsla(0,0%,100%,.5);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

h1 {
    font-size: 3rem;
    margin-top: 0px;
    text-align: center;
    word-break: keep-all;
    margin-bottom: 0px;

    background: linear-gradient(to right top, #bbb, #fff);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

h1 p {
    font-size: 24px;
    margin: 0;
    word-break: keep-all;
    display: inline;
    /* background: linear-gradient(to right top, #861657, #ffa69e); */
    /* background: linear-gradient(to right top, #93291e, #ed213a); */
}

h2 {
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 4px;
    letter-spacing: -2px;
}

.div {
    margin: auto;
    position: static;
    height: 75vh;
}

.profile {
    width: max-content;
    margin: 0 auto;
    margin-top: 8vh;
    text-align: center;

    background-color: hsla(0,0%,100%,.5);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    padding: 8px;
    border-radius: 1rem;
}

.profile img {
    width: 10rem;
    height: 10rem;
    border: 2px solid #c0c0c0;
    border-radius: 32px;
}

.profile p {
    color: gray;
    margin: 0;
    margin-top: -6px;
}

.text {
    margin: 0 auto;
    border: 1px solid white;
    width: calc(24vw + 128px);
    border-radius: 16px;
    margin-top: 4vh;
    padding: 6px;
    text-align: center;
    background-color: hsla(0,0%,100%,.5);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.text p {
    width: fit-content;
    font-size: 1rem;
    margin: 4px auto;
}

.text p:first-child, .text p:last-child {
    margin: 0 auto;
}

.text p a {
    margin: 0 4px;
}

main a:link,
main a:visited {
    color: black;
}

main a:hover, main a:active {
    color: #FF8232;
}