.main {
    width: 100vw;
}

.main .title {
    height: calc(100vh - var(--header-height));
    width: 100%;
    padding-left: 5vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

.main .title .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    border: none;
    z-index: -1;
    left: 0;
    top: 0;

    background-image: url(../img/bg.png);
    filter: brightness(75%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main .title h1 {
    font-size: 64px;
    text-shadow: -3px -1px 1px #000;
}

.main .title p {
    width: min(40%, 512px);
    line-height: 175%;
}

.main .desc {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    background-image: linear-gradient(135deg, rgba(255,0,128,1) 0%, rgba(0,0,128,1) 100%);
}

.main .desc div.slides {
    margin-top: 32px;
    width: 90%;
    height: 60%;
    background-color: #ffffff80;
    border-radius: 24px;
    overflow: scroll;
    display: flex;
    align-items: center;
    gap: 12px;
    overflow-x: scroll;
    border: solid 12px transparent;
    position: relative;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth
}

.main .desc div.slides::-webkit-scrollbar {
    display: none;
}

.main .desc a.slide {
    height: 100%;
    background-color: #000000c0;
    border-radius: 12px;
    flex: 0 0 min(380px, 100%);
    scroll-snap-align: start;
    scroll-snap-stop: always;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: relative;
}

a.slide::before {
    box-sizing: border-box;
    content: "이미지 없음";
    color: #000;
    padding-top: 32px;
    font-size: 32px;
    position: absolute;
    height: 70%;
    width: 100%;
    left: 0;
    background-image: url(../img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
}

a.slide img {
    height: 70%;
    z-index: 1;
}

a.slide h3 {
    border-top: solid 2px #ffffff80;
    margin: 0;
    padding: 8px;
    font-size: 24px;
    width: 100%;
    min-height: 53px;
    line-height: 37px;
}

a.slide p {
    margin: 0;
    width: 80%;
    word-break: keep-all;
}

@media screen and ((max-height: 500px) or (max-width: 650px)) {

    .main .title h1 {
        font-size: 40px;
    }

    .main .title p {
        width: 80%;
    }
}