@media only screen and ((max-device-width : 800px) or (max-device-height : 800px)) {
    .profile img {
        width: 8rem;
        height: 8rem;
        border-radius: 24px;
    }
}

@media only screen and ((max-device-width : 480px) or (max-device-height : 600px)) {

    main,
    footer {
        width: 100vw;
    }

    h1 {
        font-size: 2rem;
    }

    .profile img {
        width: 6rem;
        height: 6rem;
    }

    h2 {
        font-size: 1.5rem;
        padding-top: 1vh;
        margin-top: 0;
    }
}

@media only screen and ((orientation: landscape) and ((max-device-height : 400px) and (max-device-width : 800px))) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        row-gap: calc(32vh - 4rem);
    }

    .title {
        width: min-content;
        flex: 0 0 100%;
        height: min-content;
        padding: 4px;
    }

    .profile {
        width: auto;
        align-self: center;
    }

    .text {
        height: fit-content;
        align-self: center;
    }
}