.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #ddd;
    padding: 12px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

header a:hover, .dropdown:hover .dropbtn {
    background-color: #404040;
}

.dropdown1 {
    display: none;
    position: absolute;
    background-color: #202020;
    border: 1px solid #404040;
    min-width: 128px;
    z-index: 1;
    right: 0;
}

.dropdown1 a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: left;
    height: 48px;
}

.dropdown1 a:hover, .dropdown1>div:hover {
    background-color: #404040;
}

.dropdown:hover .dropdown1, .dropbtn2:hover .dropdown2 {
    display: block;
}

.dropdown2 {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 96px;
    left: -128px;
    min-width: 128px;
    background-color: #202020;
    border: 1px solid #404040;
}