@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    min-height: 100vh;
}

.backblur {
    background-color: hsla(0, 0%, 100%, .5);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

main {
    display: grid;
    height: calc(100vh - 16px);
    padding: 8px;
    gap: 8px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "fp desc";
}

main>div {
    background-color: #202020;
    border-radius: 12px;
    padding: 8px;
    height: calc(100% - 16px);
}

.pf {
    grid-area: fp;
    display: flex;
    align-items: center;
}

.idea {
    grid-area: desc;
}

.pf>div {
    width: fit-content;
    min-height: 60vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    gap: 32px;
}

.pfp {
    flex: 1 1 100%;
    height: fit-content;
}

.pf img {
    border: solid 2px #444;
    border-radius: 32px;
}

.pf h2 {
    margin: 0;
    line-height: 1;

}

.pf .desc {
    margin: 0 auto;
}

.pf p {
    width: calc(20vw + 32px);
    margin: 0;
    margin-top: 8px;
}

.pf p:first-child {
    margin-top: 0;
}

.pf p a {
    margin-left: 8px;
}

.pf p a:first-child {
    margin-left: 0;
}

.pf p a:link, .pf p a:visited, .pf p a:hover, .pf p a:active {
    color: white;
    text-decoration: none;
}

@media screen and ((orientation: portrait) or ((max-height: 400px) or (max-width: 500px))) {
    main {
        height: fit-content;
        grid-template-areas: "fp" "desc";
    }

    .pf {
        width: calc(100vw - 32px);
        height: calc(100vh - 32px);
    }

    .pfp {
        flex: 1 1 100%;
    }

    .pf p {
        width: 60vw;
    }
}

@media screen and (orientation: landscape) {
    .pfp {
        flex: 0;
    }
}

@media screen and ((max-height: 500px) or (max-width: 400px)) {
    .pfp img {
        width: 128px;
    }
}