* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: black;
    color: #eee;
    width: 75%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

p {
    margin: 8px 0;
}

.Header {
    position: sticky;

    top: 0;
    height: max-content;
}

header {
    overflow: hidden;
    width: 75vw;
    background-color: #101010;
    border: 1px solid #606060;
    border-width: 0 0 1px 0;
    box-sizing: border-box;
    height: 48px;

    display: flex;
    align-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
}

header a {
    float: left;
    font-size: 16px;
    color: #ddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

main {
    width: 75vw;
    background-color: #202020;
    min-height: 100%;
    padding: 0 24px;
    box-sizing: border-box;
    min-height: calc(100vh - 48px);
}

xmp {
    margin: 0;
    font-size: large;
}

#yt {
    border: 1px solid #404040;
    border-radius: 12px;
}

@media screen and (orientation: portrait) {

}

@media screen and ((max-height: 600px) or (max-width: 500px)) {
    body, header, main {
        font-size: small;
        width: 100vw;
    }
}