* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: black;
    color: #eee;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

h1, h2, h3 {
    margin: 16px 0;
}

p {
    margin: 8px 0;
}

a {
    color: #eee;
    text-decoration: none;
}

.Header {
    position: sticky;

    top: 0;
    height: max-content;

    backdrop-filter: blur(16px);
}

header {
    overflow: hidden;
    width: 100vw;
    background-color: #10101080;
    border: 1px solid #606060;
    border-width: 0 0 1px 0;
    box-sizing: border-box;
    height: 48px;

    display: flex;
    align-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
}

header a {
    float: left;
    font-size: 16px;
    color: #ddd;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;

    display: flex;
    align-items: center;
    height: 48px;
    gap: 12px;
}

main {
    width: 75vw;
    background-color: #202020;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;
    min-height: calc(100vh - 48px);
}

pre, xmp {
    margin: 0;
    font-size: 14px;
}

#yt {
    border: 1px solid #404040;
    border-radius: 12px;
}

.search {
    margin: 16px 0;
}

.search label {
    border: solid 2px #444;
    width: min(70vw, 600px);
    height: 44px;
    border-radius: 10000px;
    background-color: #111;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* margin-bottom: 32px; */
}

.search input {
    padding: 0 8px;
    border: none;
    width: 100%;
    height: calc(100% - 2px);
    background-color: #111;
    color: #ddd;
    font-size: 16px;
}

.search span,
.search button {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    border: none;
    background: transparent;
    flex: 1 0 24px;
    height: 100%;
    padding: 0;
    cursor: pointer;
}

.search span {
    padding-left: 12px;
}

.search button {
    padding-right: 12px;
}

.search input:focus {
    outline: none;
}

@media screen and (orientation: portrait) {

}

@media screen and ((max-height: 600px) or (max-width: 500px)) {
    main {
        width: 100vw;
    }
}
