* {
    transition: all 500ms;
}

body {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}

main {
    background-color: #202020;
    background: linear-gradient(0deg, rgb(24, 24, 24) 0%, rgb(32, 32, 32) 25%);
    width: 75dvw;
    height: 100dvh;
    margin: 0 auto;
    overflow: hidden;
}

h1 {
    margin-top: 0px;
    padding: 1rem;
    text-align: center;
    background-color: #101010;
    word-break: keep-all;
}

h2 {
    margin: 0 auto;
}

.profile {
    width: 30dvw;
    margin: 0 auto;
    margin-top: 16dvh;
    text-align: center;
}

img {
    width: 16rem;
    height: 16rem;
    border: 1px solid gray;
}

.text {
    margin: 0 auto;
    border: 1px solid white;
    width: 24dvw;
    border-radius: 1dvw;
    margin-top: 6dvh;
    padding: 4dvh;
    text-align: center;
}

footer {
    background: #202020;
    width: 75dvw;
    height: 100dvh;
    margin: 0 auto;
}

h2.x {
    padding: 2dvh;
}

@media only screen and (max-device-width : 800px) {
    img {
        width: 12rem;
        height: 12rem;
    }
    .profile {
        margin-top: 8dvh;
    }
}

@media only screen and ((max-device-width : 480px) or (max-device-height : 800px)) {
    main, footer, .profile {
        width: 100dvw;
    }
    img {
        width: 8rem;
        height: 8rem;
    }
    h2 {
        padding: 0dvh;
    }
    .text {
        width: 50dvw;
        margin-top: 8dvh;
        padding: 0dvh;
    }
}

@media only screen and ((min-device-width : 600px) and (max-device-height : 800px)) {
    main, footer, .profile {
        width: 75dvw;
    }
}

@media only screen and (orientation: landscape) and (max-device-height : 500px) {
    .profile {
        width: 30dvw;
        float: left;
    }
    .text {
        margin-top: 20dvh;
        margin-right: 10dvh;
        float: right;
        width: 35vw;
    }
}

@media only screen and (orientation: landscape) and (max-device-height : 300px) {
    .profile {
        width: 30dvw;
        margin-top: -2dvh;
        float: left;
    }
    .text {
        margin-top: 20dvh;
        margin-right: 10dvh;
        float: right;
        width: 35dvw;
        width: 1ddvw;
    }
}