@font-face {
    font-family: 'Cafe24Dongdong';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Dongdong.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    transition: all 200ms;
    font-family: 'GmarketSansMedium';
    text-shadow: 0px 0px 5px black;
}

body {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}

main {
    background-color: #202020;
    background: linear-gradient(0deg, rgb(24, 24, 24) 0%, rgb(32, 32, 32) 25%);
    background: linear-gradient(0deg, #7FFFFF -50%, #FF7FB6 150%);
    width: 75vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

h1 {
    margin-top: 0px;
    padding: .5rem;
    text-align: center;
    background-color: #101010;
    word-break: keep-all;
    margin-bottom: 0px;
    background: radial-gradient(circle, #13678A 40%, #1a9683 80%);
}

h2 {
    margin: 0 auto;
}

.div {
    position: static;
    margin-top: 10vh;
    height: 75vh;
}

.profile {
    width: 50vw;
    margin: 0 auto;
    margin-top: 12vh;
    text-align: center;
}

.profile img {
    width: 12rem;
    height: 12rem;
    border: 2px solid white;
    border-radius: 32px;
}

.text {
    margin: 0 auto;
    border: 1px solid white;
    width: 32vw;
    border-radius: .5vw;
    margin-top: 4vh;
    padding: 2vh;
    text-align: center;
}

footer {
    background: #202020;
    width: 75vw;
    height: 100vh;
    margin: 0 auto;
}

h2.x {
    padding: 2vh;
}

@media only screen and ((max-device-width : 800px) or (max-device-height : 480px)) {
    .text {
        width: 64vw;
    }
}

@media only screen and ((max-device-width : 480px) or (max-device-height : 600px)) {

    main,
    footer,
    .profile {
        width: 100vw;
    }

    .profile {
        margin-top: 8vh;
    }

    .profile img {
        width: 8rem;
        height: 8rem;
    }

    h2 {
        font-size: 1.25rem;
        padding: 0vh;
    }

    .text {
        width: 75vw;
        padding: 0;
    }
}

@media only screen and (((orientation: landscape) and (max-device-height : 500px)) or ( (orientation: portrait) and (max-device-height : 420px))) {
    .div {
        display: flex;
    }

    h1 {
        display: block;
        padding: 4px;
        font-size: xx-large;
    }

    .profile {
        width: auto;
        margin: 2vh auto;
        margin-top: 1vh;
        align-self: center;
    }

    .text {
        margin: auto;
        width: 48vw;
    }
}

@media only screen and ((max-device-height : 270px) or (max-device-width : 270px)) {
    .profile img {
        width: 4rem;
        height: 4rem;
        border-radius: 16px;
    }

    p {
        font-size: .75rem;
    }
}