body {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}

main {
    background-color: #202020;
    width: 75vw;
    height: 100vh;
    margin: 0 auto;
}

h1 {
    margin-top: 0px;
    padding: 1rem;
    text-align: center;
    background-color: #101010;
}

h2 {
    margin: 0 auto;
}

.profile {
    width: 50vw;
    margin: 0 auto;
    margin-top: 10vh;
    text-align: center;
}

img {
    width: 16rem;
    height: 16rem;
    border: 1px solid gray;
}

.text {
    margin: 0 auto;
    padding: 4 auto;
    border: 1px solid white;
    width: 24vw;
    border-radius: 1vw;
    margin-top: 5vh;
    text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    img {
        width: 8rem;
        height: 8rem;
    }
    .text {
        width: 50vw;
    }
}

footer {
    border: 1px solid white;
    border-color: gray transparent transparent;
    background-color: #202020;
    width: 75vw;
    height: 100vh;
    margin: 0 auto;
}