.codeblock {
    border-radius: 4px;
    background-color: #101010;
    margin: 8px 0;

    display: flex;
    justify-content: space-between;
}

.codeblock button {
    background: #101010;
    border: none;
    border-left: 1px solid #505050;
    color: #eee;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.codeblock button:hover {
    background: #303030;
}

.codeblock button:active {
    background: gray;
}

pre.prettyprint {
    width: auto;
    line-height: 1.45;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    background-color: #101010;
    overflow: scroll;
    text-overflow: clip;
}

pre xmp {
    overflow: scroll;
    padding: 16px;
}

pre .str, pre .atv {
    color: #FE8D59;
}

pre .pln, pre .atn, pre .kwd {
    color: #A8C7FA;
}

pre .typ {
    color: #d2a8ff;
}

pre .tag {
    color: #7CACF8;
}

pre .dec {
    color: #8F8F8F;
}